<h3><%= @course.name %></h3>
<h4><%= @course.number %> <%= @category %></h4>
<table class="table">
  <tr>
    <th>Student</th>
    <th>Total Point</th>
    <% (1..@max_index).each do |index| %>
      <th><%= index %></th>
    <% end %>
  </tr>

  <% @source_set.each do |source| %>
    <% @current_student = source.student %>

    <% if @pre_student != @current_student %>

      <% if @value_arr.present? && @score_arr.present? %>
        <% @total_score = (@score_arr.reduce(:+)/@score_arr.count).round %>
        <tr>
          <td><%= @pre_student.cn_name %></td>
          <td><%= @total_score %></td>
          <% @value_arr.each do |value| %><td><%= value %></td><% end %>
        </tr>
      <% end %>

      <% @value_arr = [source.value] %>
      <% @score_arr = [source.score] %>
    <% else %>
      <% @value_arr << source.value %>
      <% @score_arr << source.score %>
    <% end %>
    <% @total_score = (@score_arr.reduce(:+)/@score_arr.count).round %>
    <% @pre_student = source.student %>
  <% end %>

  <tr>
    <td><%= @pre_student.cn_name %></td>
    <td><%= @total_score %></td>
    <% @value_arr.each do |value| %><td><%= value %></td><% end %>
  </tr>

</table>
